<h3>Contact List</h3>
    Emily Hrin, Carnival Chair: (703) 785-4617 <br/> <br/>
	Jackson Gallagher, Carnival Chair: (937) 684-7115 <br/> <br/>
	Rachel Crown, Head of Booth: (617) 861-7669 <br/> <br/>
	Nick Gasbarro, Head of Ops: (412) 897-1984 <br/> <br/>
	Maggie Bignell, Head of Marketing: # <br/> <br>
	
	
	<p>If you have general Carnival questions, email Emily and Jackson at <a href="mailto: sc0v@andrew.cmu.edu">sc0v@andrew.cmu.edu</a></p>
	
	<p>If you have booth-related questions, email Rachel at <a href="mailto: midway@springcarnival.org">midway@springcarnival.org</a></p>
