<script src="application.js"></script>

<h1>Frequently Asked Questions</h1>
<div class="faq">
	<dl>

	<dt>What is Booth?</dt>
	<dd>
	  <p>Booth is one of the biggest showpieces of Spring Carnival. Student organizations build multi-story structures around our annual theme (2013: Fractured Fairytales), hosting interactive games and elaborate decorations. The booths will be placed on Midway, which is located in the Morewood Gardens Parking Lot. Admission is free to view these booths.</p>
	</dd>

	<dt>How do I check out a tool?</dt> 
	<dd>
	  <p>Click on tools in the navagation bar. Or click here!</p>
	</dd>

	<dt>How do I swipe?</dt>
	<dd>
	  <p>Hold card with the picture facing outwards, pull in a downwards motion</p>
	</dd>

	<dt>Help! BOA ISN'T WORKING!</dt>
	<dd>
	  <p>Calm down and contact these awesome and brilliant people:</p>
	  <ul>
	    <li>Shannon Chen</li>
	    <li>Jonathan Chung</li>
	    <li>Dylan Corwin</li>
	    <li>Rachel Crown</li>
	    <li>Steve McQuaid</li>
	  </ul>
	</dd>

	</dl>
</div>
