<h3>Home</h3>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to BOA!</h1>
    <p>This is the official home of our 67-475 Project for Fall 2013. Advisor: Professor Jeria Quesenberry</p>
    <p><%= link_to "Frequently Asked Questions", faqs_path, :class => "btn btn-lg btn-primary " %></p>
  </div>
</div>

